{namespace CaseImport}

/**
 * Test
 */
{template .render}
  <div>
    {call OtherComponent.render}
      {param foo: 'bar' /}
    {/call}

    {call OtherSubComponent.render}
      {param foo: 'bar' /}
    {/call}
{/template}
