{namespace Test}

/**
 * Test
 * @param age
 */
{template .render}
  {@param name: string}

  <div>
    <h2>{$name}</h2>
    <h2>{$age}</h2>
  </div>
{/template}

/**
 * Helper
 *
 **/
{template .helper}
  <div></div>
{/template}

/**
 * otherHelper
 * @param name
 * Some more docs
 **/
{template .otherHelper}
  <div>{$name}</div>
{/template}
