{namespace Test}

/**
 * Test
 */
{template .render}
  {@param name: string}
  {@param title: string}
  {@param? optionalInfo: string}

  <div>
    <h1>{$title}</h1>
    <h2>{$name}</h2>

    {if isNonnull(optionalInfo)}
      <p>{$optionalInfo}</p>
    {/if}
  </div>
{/template}
