{namespace Test}

/**
 * Test
 */
{template .render}
  {let $count: 3 /}
  {let $show: true /}

  {let $content kind="html"}
    <div></div>
  {/let}

  {let $myMap: [
    'foo': 'neato',
    'asdasd': asd
  ] /}
  {let $name: 'foo' /}

  {let $coolName: isNonnull($name) ? $name : 'mthadley' /}
  {let $coolName: isNonnull($name) /}

  {let $whatIsThis:  asd /}

  {let $someThing: $myMap.foo /}

  <div>
    <h1>Hello World</h1>
  </div>
{/template}
