{namespace Test}

/**
 * Test
 */
{template .render}
  {@param name: string}
  {@param title: string}
  {@param? optionalInfo: string}

  <div>
    <h1>{$title}</h1>
    <h2>{$name}</h2>

    {if isNonnull(optionalInfo)}
      <p>{$optionalInfo}</p>
    {/if}

    {call .helper /}

    {call OtherTemplate.render}
      {param foo: 'bar' /}
    {/call}
  </div>
{/template}

{template .helper}
  {@param? test: asdasd}
  <div>helper</div>
{/template}
