{namespace Test}

/**
 * Test
 */
{template .render}
  {@param name: string}
  {@param titles: list<string>}
  {@param? optionalInfo: html|string}

  <div>
    {foreach $title in $titles}
      <h1>{$title}</h1>
    {/foreach}

    <h2>{$name}</h2>

    {if isNonnull(optionalInfo)}
      <p>{$optionalInfo}</p>
    {/if}
  </div>
{/template}
