{namespace Test}

/**
 * Test
 */
{template .render}
  {@param name: string}
  {@param title: string}

  <div>
    <h1>{$title}</h1>
    <h2>{$name}</h2>

    {call .helper /}
  </div>
{/template}

{template .helper private="true"}
  {@param? test: asdasd}
  <div>helper: {$test ?: ''}</div>
{/template}
