{namespace Test}

/**
 * Test
 */
{template .render}
    {call OtherComponent.render}
      {param foo: 'bar' /}
      {param goo: 'bar' /}
      {param doo: 'bar' /}
      {param roo: 'bar' /}
    {/call}
{/template}
