{namespace Test}

/**
 * Test
 */
{template .render}
  {@param baz: string}
  {@param foo: string}
  {@param bar: string}
  {@param biz: string}

  <div>
    <h1>{$title}</h1>
    <h1>{$title}</h1>
    <h1>{$title}</h1>
    <h1>{$title}</h1>
  </div>
{/template}
