{namespace Test}

/**
 * Test
 */
{template .render}
  {@param? test: string}

  <div>
    <input {call .helper data="all" /} />
  </div>
{/template}

{template .helper kind="attributes" private="true"}
  {@param? test: asdasd}

  value="{$test ?: ''}
{/template}

{template .helperOther kind="attributes"}
  {@param? test: asdasd}

  value="{$test ?: ''}
{/template}
