{namespace Test}

/**
 * Test
 */
{template .render}
  <div>
    {call OtherComponent.render}
      {param foo: [
        'foo': 1,
        'bar': 2,
        'baz': 3
      ] /}
    {/call}

    {call OtherComponent.render}
      {param foo: [
        'foo': 1,
        'baz': 3,
        'bar': 2
      ] /}
    {/call}
  </div>
{/template}
